In [18]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

In [19]:
data = pd.read_csv('../data/complete.csv')
data

,date,GDP,Economic growth rate,Regular Gasoline,Diesel for automobiles,population,Car registration,Min wage,Min wage increase rate,City bus trunk line,...,Texi,Model texi,Consumer price,Interest rate,Number of employed,Export amount,Export growth rate,Import amount,Import growth rate,Traffic rate
0,2015-01-01,394273.0,2.4,1568.65,1383.99,10045027,3056588.0,5580,7.1,1200,...,3000,5000,94.643,0.020,516.65,45105389,-1.0,39283025,-12.2,5400081.5
1,2015-01-02,394273.0,2.4,1568.65,1383.99,10045027,3056588.0,5580,7.1,1200,...,3000,5000,94.643,0.020,516.65,45105389,-1.0,39283025,-12.2,5220255.0
2,2015-01-03,394273.0,2.4,1568.65,1383.99,10045027,3056588.0,5580,7.1,1200,...,3000,5000,94.643,0.020,516.65,45105389,-1.0,39283025,-12.2,4480084.5
3,2015-01-04,394273.0,2.4,1568.65,1383.99,10045027,3056588.0,5580,7.1,1200,...,3000,5000,94.643,0.020,516.65,45105389,-1.0,39283025,-12.2,5486275.0
4,2015-01-05,394273.0,2.4,1531.05,1351.25,10045027,3056588.0,5580,7.1,1200,...,3000,5000,94.643,0.020,516.65,45105389,-1.0,39283025,-12.2,5831397.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
3374,2024-03-28,587840.0,1.3,1646.96,1540.20,9384739,NaN,9860,2.5,1500,...,4800,7000,113.940,0.035,522.41,56557850,3.1,52267259,-12.4,NaN
3375,2024-03-29,587840.0,1.3,1646.96,1540.20,9384739,NaN,9860,2.5,1500,...,4800,7000,113.940,0.035,522.41,56557850,3.1,52267259,-12.4,NaN
3376,2024-03-30,587840.0,1.3,1646.96,1540.20,9384739,NaN,9860,2.5,1500,...,4800,7000,113.940,0.035,522.41,56557850,3.1,52267259,-12.4,NaN
3377,2024-03-31,587840.0,1.3,1646.96,1540.20,9384739,NaN,9860,2.5,1500,...,4800,7000,113.940,0.035,522.41,56557850,3.1,52267259,-12.4,NaN
3378,2024-04-01,587840.0,1.3,1673.25,1551.30,9378269,NaN,9860,2.5,1500,...,4800,7000,113.990,0.035,525.21,56261590,13.8,54732441,5.4,NaN

In [22]:
# NaN 값 제거
data_dropped = data.dropna(inplace=True)

# 타깃 변수를 이진 변수로 변환 (임의의 기준: 평균 이상의 값은 1, 아니면 0)
threshold = data['Traffic rate'].mean()
data['Traffic rate'] = (data['Traffic rate'] > threshold).astype(int)

# 설명 변수와 타깃 변수 분리
X = data.drop(columns=['Traffic rate', 'date'])  # 필요에 따라 'date' 등 다른 불필요한 열도 드롭
y = data['Traffic rate']

# 훈련 및 테스트 데이터 분리
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 로지스틱 회귀 모델 생성 및 훈련
log_reg = LogisticRegression(max_iter=1000)
log_reg.fit(X_train, y_train)

# 예측
y_pred = log_reg.predict(X_test)

# 평가
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print("Accuracy:", accuracy)
print("Classification Report:\n", report)

Accuracy: 0.7577160493827161
Classification Report:
               precision    recall  f1-score   support

           0       0.83      0.41      0.55       232
           1       0.74      0.95      0.83       416

    accuracy                           0.76       648
   macro avg       0.78      0.68      0.69       648
weighted avg       0.77      0.76      0.73       648

C:\Users\User\AppData\Roaming\Python\Python39\site-packages\sklearn\linear_model\_logistic.py:469: ConvergenceWarning: lbfgs failed to converge (status=1):
STOP: TOTAL NO. of ITERATIONS REACHED LIMIT.

Increase the number of iterations (max_iter) or scale the data as shown in:
    https://scikit-learn.org/stable/modules/preprocessing.html
Please also refer to the documentation for alternative solver options:
    https://scikit-learn.org/stable/modules/linear_model.html#logistic-regression
  n_iter_i = _check_optimize_result(

In [23]:
data_b = pd.read_csv('../data/complete_b2020.csv')
data_b

,date,GDP,Economic growth rate,Regular Gasoline,Diesel for automobiles,population,Car registration,Min wage,Min wage increase rate,City bus trunk line,...,Texi,Model texi,Consumer price,Interest rate,Number of employed,Export amount,Export growth rate,Import amount,Import growth rate,Traffic rate
0,2015-01-01,394273.0,2.4,1568.65,1383.99,10045027,3056588.0,5580,7.1,1200,...,3000,5000,94.643,0.0200,516.65,45105389,-1.0,39283025,-12.2,5400081.5
1,2015-01-02,394273.0,2.4,1568.65,1383.99,10045027,3056588.0,5580,7.1,1200,...,3000,5000,94.643,0.0200,516.65,45105389,-1.0,39283025,-12.2,5220255.0
2,2015-01-03,394273.0,2.4,1568.65,1383.99,10045027,3056588.0,5580,7.1,1200,...,3000,5000,94.643,0.0200,516.65,45105389,-1.0,39283025,-12.2,4480084.5
3,2015-01-04,394273.0,2.4,1568.65,1383.99,10045027,3056588.0,5580,7.1,1200,...,3000,5000,94.643,0.0200,516.65,45105389,-1.0,39283025,-12.2,5486275.0
4,2015-01-05,394273.0,2.4,1531.05,1351.25,10045027,3056588.0,5580,7.1,1200,...,3000,5000,94.643,0.0200,516.65,45105389,-1.0,39283025,-12.2,5831397.0
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
1821,2019-12-27,499344.0,2.7,1558.67,1391.73,9729107,3124157.0,8350,10.9,1200,...,3800,6500,99.719,0.0125,511.73,45668341,-5.3,43687430,-0.8,8421444.0
1822,2019-12-28,499344.0,2.7,1558.67,1391.73,9729107,3124157.0,8350,10.9,1200,...,3800,6500,99.719,0.0125,511.73,45668341,-5.3,43687430,-0.8,10401067.0
1823,2019-12-29,499344.0,2.7,1558.67,1391.73,9729107,3124157.0,8350,10.9,1200,...,3800,6500,99.719,0.0125,511.73,45668341,-5.3,43687430,-0.8,10717087.5
1824,2019-12-30,499344.0,2.7,1565.09,1396.34,9729107,3124157.0,8350,10.9,1200,...,3800,6500,99.719,0.0125,511.73,45668341,-5.3,43687430,-0.8,10784414.5
1825,2019-12-31,499344.0,2.7,1565.09,1396.34,9729107,3157361.0,8350,10.9,1200,...,3800,6500,99.719,0.0125,511.73,45668341,-5.3,43687430,-0.8,10487222.5

In [26]:
# NaN 값 제거
data_dropped = data_b.dropna(inplace=True)

# 타깃 변수를 이진 변수로 변환 (임의의 기준: 평균 이상의 값은 1, 아니면 0)
threshold = data_b['Traffic rate'].mean()
data_b['Traffic rate'] = (data_b['Traffic rate'] > threshold).astype(int)

# 설명 변수와 타깃 변수 분리
X = data_b.drop(columns=['Traffic rate', 'date'])  # 필요에 따라 'date' 등 다른 불필요한 열도 드롭
y = data_b['Traffic rate']

# 훈련 및 테스트 데이터 분리
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# 로지스틱 회귀 모델 생성 및 훈련
log_reg = LogisticRegression(max_iter=1000)
log_reg.fit(X_train, y_train)

# 예측
y_pred = log_reg.predict(X_test)

# 평가
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print("Accuracy:", accuracy)
print("Classification Report:\n", report)

Accuracy: 0.855191256830601
Classification Report:
               precision    recall  f1-score   support

           0       0.98      0.54      0.70       114
           1       0.83      1.00      0.90       252

    accuracy                           0.86       366
   macro avg       0.91      0.77      0.80       366
weighted avg       0.88      0.86      0.84       366

In [ ]:
# 같은 모델을 돌려도 2020년 전이 훨씬 정확도가 높게 나옴.