In [2]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns

from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score, classification_report

#classification_report : The report includes the following metrics for each class:
# Precision : he ability of the classifier not to label as positive a sample that is negative.
#It is given by the ratio of true positives (TP)
# Recall : TP + FN
# F1-Score : a trade-off between precision and recall.
# support : The number of actual occurrences of the class in the specified dataset

In [3]:
data = pd.read_csv('../00_Data/Integrated_data/Fully_integrated_data.csv')
data

,Unnamed: 0,Date,Total Traffic Volume,Base Interest Rate,Exchange Rate,Gross Domestic Product (GDP),Economic Growth Rate (Real GDP Growth Rate),Export price,Export growth rate,Import price,Import growth rate,Nationwide Consumer Price Index,Regular Unleaded Gasoline,Diesel Fuel for Automobiles,number of car ownership
0,0,2011-01-01,5466446.0,2.75,1121.500000,328096.0,5.4,44465366.00,44.700000,41981323.00,13.600000,90.448000,1814.57,1611.14,18409608
1,1,2011-01-02,5059821.0,2.75,1121.732258,328096.0,5.4,44269519.60,43.775943,41799132.37,13.521635,90.397806,1815.24,1611.79,18398782
2,2,2011-01-03,5631394.0,2.75,1121.964516,328096.0,5.4,44073673.20,42.851885,41616941.74,13.443269,90.347613,1816.15,1612.85,18387956
3,3,2011-01-04,5584995.0,2.75,1122.196774,328096.0,5.4,43877826.79,41.927828,41434751.11,13.364904,90.297419,1817.48,1614.02,18377130
4,4,2011-01-05,5742955.0,2.75,1122.429032,328096.0,5.4,43681980.39,41.003771,41252560.48,13.286539,90.247226,1818.53,1615.00,18366304
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
4741,4741,2023-12-27,10276694.0,3.50,1324.077419,580296.0,1.4,57178995.45,5.450600,52902442.04,-11.037139,109.631118,1583.53,1501.33,25949201
4742,4742,2023-12-28,10408581.0,3.50,1325.580645,580296.0,1.4,57244695.04,5.375500,52939177.37,-11.014283,109.631118,1582.63,1500.25,25949201
4743,4743,2023-12-29,11018411.0,3.50,1327.083871,580296.0,1.4,57310394.63,5.300400,52975912.69,-10.991426,109.631118,1581.89,1499.03,25949201
4744,4744,2023-12-30,8958402.0,3.50,1328.587097,580296.0,1.4,57376094.22,5.225300,53012648.02,-10.968570,109.631118,1581.22,1498.23,25949201
4745,4745,2023-12-31,7891390.0,3.50,1330.090323,580296.0,1.4,57441793.82,5.150200,53049383.35,-10.945713,109.631118,1580.53,1497.25,25949201

In [6]:
# data_dropped = data.dropna(inplace=True)

# Convert target variable to binary variable (any criterion: above average value is 1, or 0)
threshold = data['Total Traffic Volume'].mean()
data['Total Traffic Volume'] = (data['Total Traffic Volume'] > threshold).astype(int)

# Separating explanatory and target variables
X = data.drop(columns=['Total Traffic Volume', 'Date', 'Unnamed: 0'])  # 필요에 따라 'date' 등 다른 불필요한 열도 드롭
y = data['Total Traffic Volume']

# Hold Out method : Separation of training and test data 
X_train, X_test, y_train, y_test = train_test_split(X, y, test_size=0.2, random_state=42)

# Logistic regression model generation and training
log_reg = LogisticRegression(max_iter=1000)
log_reg.fit(X_train, y_train)

# Prediction
y_pred = log_reg.predict(X_test)

# Model Evaluation
accuracy = accuracy_score(y_test, y_pred)
report = classification_report(y_test, y_pred)

print("Accuracy:", accuracy)
print("Classification Report:\n", report)

Accuracy: 0.86
Classification Report:
               precision    recall  f1-score   support

           0       0.88      0.86      0.87       530
           1       0.83      0.86      0.84       420

    accuracy                           0.86       950
   macro avg       0.86      0.86      0.86       950
weighted avg       0.86      0.86      0.86       950